In [1]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('../data/Merged_dataset.csv')

In [3]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 13683 entries, 0 to 13682
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Title          13681 non-null  str
 1   Location       13681 non-null  str
 2   Price          13683 non-null  str
 3   Bedrooms       13683 non-null  str
 4   Bathrooms      13516 non-null  str
 5   Toilets        12806 non-null  str
 6   Property Type  12863 non-null  str
 7   URL            13681 non-null  str
dtypes: str(8)
memory usage: 855.3 KB

In [4]:
df.isna().sum()

Title              2
Location           2
Price              0
Bedrooms           0
Bathrooms        167
Toilets          877
Property Type    820
URL                2
dtype: int64

In [6]:
df.head()

,Title,Location,Price,Bedrooms,Bathrooms,Toilets,Property Type,URL
0,Fully Serviced 3-bedroom Apartment With Study ...,"Old Ikoyi, Ikoyi, Lagos","₦40,000,000 per annum",3,3,4,3 bedroom flat / apartment for rent,https://nigeriapropertycentre.com/for-rent/fla...
1,Top Rated Luxury 2 Bedroom Penthouse Apartment...,"Old Ikoyi Lagos, Ikoyi, Lagos","$40,000 per annum \napprox. ₦56,842,415",2,2,3,2 bedroom flat / apartment for rent,https://nigeriapropertycentre.com/for-rent/fla...
2,Luxury 3 Bedroom Apartment,"Ikoyi, Lagos","₦35,000,000 per annum",3,4,4,3 bedroom house for rent,https://nigeriapropertycentre.com/for-rent/hou...
3,Luxury 3 Bedroom Apartment 4th Floor,"Banana Island, Ikoyi, Lagos","₦45,000,000 per annum",3,4,4,3 bedroom house for rent,https://nigeriapropertycentre.com/for-rent/hou...
4,Well Maintained Luxury 4 Bedroom Apartment,"Buena Vista, Banana Island, Ikoyi, Lagos","₦55,000,000 per annum",4,4,5,4 bedroom flat / apartment for rent,https://nigeriapropertycentre.com/for-rent/fla...

In [19]:
df.columns = df.columns.str.lower().str.strip()
print(df.columns.tolist())

['title', 'location', 'price', 'bedrooms', 'bathrooms', 'toilets', 'property type', 'url']

In [ ]:
print (df.unique(df.dtype(str)))

In [ ]:
def clean(text):
    if not isinstance(text, str):
        return 'other'
    
    text = text.lower()

    if 'detached' in text or 'duplex' in text or 'terrace' in text or 'townhouse' in text:
        return 'House/Duplex'
    elif 'flat' in text or 'apartment' in text or 'studio' in text:
        return 'Flat/Apartment'
    elif 'bungalow' in text:
        return 'Bungalow'
    elif 'land' in text:
        return 'Land'
    elif 'office' in text or 'commercial' in text or 'shop' in text:
        return 'Commercial'
    else:
        return 'Other'